:root{
    --primary-clr: #262626;
    --secondary-clr: rgb(235, 233, 233);
    --third-clr: #ffee10;
}
#confirm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10em;
}
.contain-2{
    color: var(--secondary-clr);
    
}
h1.contain-2:hover{
    color:var(--third-clr);
}
.fields{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
#label{
    margin-right: 3em;
}
.btn-3{
    border: 2px solid black;
    color: var(--secondary-clr);
    background: var(--primary-clr);
    padding: 5px;
    margin-top: 2em;
    cursor: pointer;
}
.btn-3:hover{
    transform: scale(1.1);
    text-shadow: 0 0 5px var(--third-clr);
    box-shadow: 0 0 10px var(--third-clr);
}