{% extends 'users/signup.html'%}
{% load static %}
{%block extrahead%}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{%endblock%}
{%block content%}
    <div class="to-do">
        <h1 class='alpha'>T</h1>
        <h1 class='alpha'>O</h1>
        <h1 class='alpha'>-</h1>
        <h1 class='alpha'>D</h1>
        <h1 class='alpha'>O</h1>
        <h1 class='alpha'>-</h1>
        <h1 class='alpha'>L</h1>
        <h1 class='alpha'>I</h1>
        <h1 class='alpha'>S</h1>
        <h1 class='alpha'>T</h1>
    </div>

    <form method="post" name="frm1" id="form1">
        {% csrf_token %}
        <div>
            <label class="label1">Username</label>
            <input type="text" name="username" class="input">
        </div>
        <div>
            <label class="label1">Password</label>
            <input type="password" name="password" class="input">
        </div>
        <input type="submit" class="btn1" value="Log In">

    </form>
    <div class="to-do-1">
        <a class="password-reset"href="../password-reset/">Forgot Password?</a>
        <a class="btn1" href="../signup/">Create An Account</a>
    </div>
{% endblock %}
